[Unit]
Description=Torrent Trucker Daemon
After=network.target redis.service

[Service]
Type=simple
User=vaibhav
WorkingDirectory=/home/vaibhav/Developer/docker/torrent-trucker
EnvironmentFile=/home/vaibhav/Developer/docker/torrent-trucker/.env
ExecStart=/home/vaibhav/.bun/bin/bun src/index.ts
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
