[Unit]
Description=Torrent Trucker Daemon
After=network.target redis.service

[Service]
Type=simple
User=vaibhav
WorkingDirectory=/home/vaibhav/Movies
ExecStart=/usr/local/bin/tt daemon
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=torrent-trucker

[Install]
WantedBy=multi-user.target
